.page {
  background-color: #ffffff;
  color: #212121;
}
/* logo */
.logo-blue {
  color: #2196F3;
}
.logo-top {
  color: #000000;
}
.logo-bottom {
  color: #FFFFFF;
}
/* nav */
.list {
  list-style: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196F3;
}
.top-tel {
  color: #757575;
}
.top-adress {
  color: #2196F3;
}

/* hero */
.hero {
  background-color: #2F303A;
}
.hero-title {
  color: #FFFFFF;
}
.hero-action {
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
}
/* section */
.section-title {
  color: #212121;
}
.section-sub-title,
.benefits-sub-title {
  color: #212121;
}
.text {
  color: #757575;
}
/* benefits */
.benefits {
  background-color: #F5F5F5;
}
/* team */
.team {
  background-color: #F5F4FA;;
} 
/* futter */
.bottom {
  background-color: #2F303A;
}
.bottom-adress {
  color: #FFFFFF;
}
.bottom-text {
  color: rgba(255, 255, 255, 0.6);
}
/* portfolio */
.work {
  background-color: #F5F5F5;
}
.list-action {
  background-color: #F5F4FA;
  color: #212121;
  cursor: pointer;

}
.list-action:hover,
.list-action:focus,
.list-action:active {
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
}
/*  палитра цветов 


партфолио цвет кнопок #F5F4FA /#212121
h3,подписи карточек #212121
карточки p #757575
футер телеыфон и емаил color: rgba(255, 255, 255, 0.6);
*/