:root {
--primmary-text-color: #757575;
--title-text-color: #212121;
--accent-text-color: #2196F3;
--background-page-color: #ffffff;
--background-hero-color: #2F303A;
--background-benefits-color: #F5F5F5;
--team-action-color: #F5F4FA;
--background-bottom-color: #2F303A;
--background-work-color: #F5F5F5;
--logo-top-color: #000000;
--bottom-text-color: rgba(255, 255, 255, 0.6);
}
.page {
  background-color: var(--background-page-color);
  color: var(--title-text-color);
}
/* logo */
.logo-blue {
  color: var(--accent-text-color);
}
.logo-top {
  color: var(--logo-top-color);
}
.logo-bottom {
  color: var(--background-page-color);
}
/* nav */
.list {
  list-style: none;
}
.link:hover,
.link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}
.top-tel {
  color: var(--primmary-text-color);
}
.top-adress {
  color: var(--accent-text-color);
}
.top-adress:hover,
.top-adress:focus {
  color: var(--title-text-color);
}
/* hero */
.hero {
  background-color: var(--background-hero-color);
}
.hero-title {
  color: var(--background-page-color);
}
.hero-action {
  background-color: var(--accent-text-color);
  color:var(--background-page-color);
  cursor: pointer;
}
/* section */
.section-title {
  color: var(--title-text-color);
}
.section-sub-title,
.benefits-sub-title {
  color: var(--title-text-color);
}
.text {
  color: var(--primmary-text-color);
}
/* benefits */
.benefits {
  background-color: var(--background-benefits-color);
}
/* team */
.team {
  background-color: var(--team-action-color);
} 
/* futter */
.bottom {
  background-color: var(--background-bottom-color);
}
.bottom-adress {
  color: var(--background-page-color);
}
.bottom-text {
  color: var(--bottom-text-color);
}
.bottom-text:hover,
.bottom-text:focus {
  color: var(--accent-text-color);
}
/* portfolio */
.work {
  background-color: var(--background-work-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-action {
  background-color: var(--team-action-color);
  color: var(--title-text-color);
  cursor: pointer;
}
.list-action:hover,
.list-action:focus,
.list-action:active {
  background-color: var(--accent-text-color);
  color:var(--background-page-color);
  cursor: pointer;
}